@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
.work-sans {
  font-family: "Work Sans", sans-serif;
}
/* shared styles */
.display-flex{
    display: flex;
}
.dark-01{
color: rgba(19, 19, 19, 1);
}
.dark-02{
color: rgba(66, 66, 66, 1);
}
.orange{
    color: rgba(255, 144, 14, 1);
}
.orangebg{
    background-color: rgba(255, 144, 14, 1);
}

/* header design */
header{
background-color: rgba(255, 144, 14, 0.1);
}
.nav-description, .banner-section{
    max-width: 1140px;
    margin: 0 auto;
    padding: 30px 0 30px;
    justify-content: space-between;
}
nav a{
    text-decoration: none;
    /* color: black; */
    font-size: 1.5rem;
    font-weight: 500;
    color: rgba(66, 66, 66, 1);
    line-height: 26px;
}
.nav-heading{
    font-size: 2.8rem;
    font-weight: 700;
}
.nav-features{
    list-style: none;
    gap: 20px;
    align-items: center;
}
.banner-section{
    text-align: center;
}
.banner-heading{
    font-size: 4rem;
    font-weight: 700;
 padding-bottom: 20px;
}
.banner-para{
    line-height: 26px;
    color: rgba(114, 114, 114, 1);
    padding-bottom: 20px;
}
header>section>div{
    max-width: 850px;
    margin: 0 auto;
}
.primary-btn{
    padding: 20px 35px;
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
    font-size: 1.25rem;
    border-radius: 8px;
    border: none;
    margin-bottom: 30px;
}
header img{
    width: 100%;
}